.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  margin: 0 13px 60px 0;
}

.u-section-1 .u-input-1 {
  font-weight: 800;
}

.u-section-1 .u-input-2 {
  font-weight: 800;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-weight: 800;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-weight: 800;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-weight: 800;
}

.u-section-1 .u-input-6 {
  font-weight: 800;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-3 {
    font-weight: normal;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}